.header{
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba($color-black, .8), rgba($color-black, .6)),url(../img/bg.jpeg) center no-repeat;
  background-size: cover;
  position: relative;
  .brand{

  @include centring(15%);
   @include flexLayout
    // text-align: center;
  }
  &-banner{
    text-align: center;
    color:$color-white;
    @include centring(50%)
  }
}


.about-us{
  height: 90vh;
  display: flex;
  align-items: center;
  &-left{
    width: 40%;
    position: relative;
    left: -200px;
    img{
      width: 100%;
      opacity: .7;
    }
  }
  &-right{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
    box-sizing: border-box;

    .stars{
      margin: 30px 0;
    }

    .star{
      margin-left: 10px;
      color: $color-primary;
      font-size: 15px;
    }

    .description{
      font-family: $font-josefinSans;
      font-size: 25px;
      font-style: italic;
      color: $color-secondary;
      text-align: justify;

      &::first-letter{
        padding-left: 50px;
      }
    }
  }

}

.gallery{
  .cards-wrapper{
    display: flex;
    flex-wrap: wrap;
  }
}
